<template>
  <div class="row h-100">
    <Sidebar />
    <DashboardMain />
    <Footer />
  </div>
</template>
<script>
import Sidebar from '../components/Sidebar.vue'
import DashboardMain from '../components/Dashboard_main.vue'
import Footer from '../components/Footer.vue'

export default {
  components: {
    Sidebar,
    DashboardMain,
    Footer
  }
}
</script>
