<template>
  <div class="row h-100">
    <Sidebar />
    <DatatableMain />
    <Footer />
  </div>
</template>
<script>
import Sidebar from '../components/Sidebar.vue'
import DatatableMain from '../components/datatableMain.vue'
import Footer from '../components/Footer.vue'

export default {
  components: {
    Sidebar,
    DatatableMain,
    Footer
  }
}
</script>
