<template>
  <div class="d-flex justify-content-center mt-5">
    <form name="form" @submit.prevent="handleLogin" class="box-shadow--dark px-4 mt-5 py-5 smal-box text-center bg-transparent rounded-border-m">
      <div class="form-group">
        <input v-model="user.username"
            v-validate="'required'" type="email" class="form-control border-bottom bg-transparent rounded-0" name="email" id="email"
          placeholder="Kullanici Adi">
          <div
            v-if="errors.has('email')"
            class="text-danger"
            role="alert"
          >Email is required!</div>
      </div>
      <div class="form-group">
        <input
         v-model="user.password"
            v-validate="'required'" type="password" class="form-control border-bottom bg-transparent rounded-0" name="password"
          id="password" placeholder="Sifre">
          <div
            v-if="errors.has('password')"
            class="text-danger"
            role="alert"
          >Password is required!</div>
      </div>
      <div class="form-group form-check p-0">
        <label class="form-check-label text-muted">Sifremi Hatirlamiyorum</label>
      </div>
      <button type="submit" :disabled="loading" class="btn btn-outline-secondary mx-auto-0 rounded-pill pr-4 mt-1">
        <span v-show="loading" class="spinner-border spinner-border-sm"></span>
        <i class="bi bi-arrow-right-short f-20"></i>Giris</button>
        <div class="form-group">
          <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
        </div>
    </form>
  </div>
</template>
<script>
import User from '../models/user'
export default {
  name: 'Login',
  data () {
    return {
      user: new User('', '', ''),
      loading: false,
      message: ''
    }
  },
  computed: {
    loggedIn () {
      return this.$store.state.auth.status.loggedIn
    }
  },
  created () {
    if (this.loggedIn) {
      this.$router.push('/dashboard')
    }
  },
  methods: {
    handleLogin () {
      this.loading = true
      this.$validator.validateAll().then(isValid => {
        if (!isValid) {
          this.loading = false
          return
        }

        if (this.user.email && this.user.password) {
          this.$store.dispatch('auth/login', this.user).then(
            () => {
              this.$router.push('/dashboard')
            },
            error => {
              this.loading = false
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString()
            }
          )
        }
      })
    }
  }
}
</script>
