<template>
<main role="main" class="col-md-10 ml-sm-auto col-lg-10 pl-0 px-4">
      <div class="box-shadow--dark px-5 mt-5 py-5 mx-3 bg-transparent rounded-border-m">
        <div class="row bg-white">
          <figure class="highcharts-figure-drill col-md-5 col-sm-12">
            <div id="container-drill"></div>
          </figure>
          <figure class="highcharts-figure col-md-7 col-sm-12">
            <div id="container"></div>
          </figure>
        </div>
      </div>
    </main>
</template>
<script>
export default {
  name: 'DashboardMain'
}
</script>
