<template>
<main role="main" class="col-md-10 ml-sm-auto col-lg-10 pl-0 px-4">
      <div class="box-shadow--dark px-4 mt-5 py-5 mx-3 rounded bg-transparent rounded-border-m row">
        <div class="d-flex justify-content-between col-12 mb-4">
          <div class="text-orange d-flex align-items-center"><i class="bi bi-calendar3 pr-1 pointer"
              id="date_select"></i><i class="bi bi-chevron-left pointer"></i><small id="date_text"
              class="text-dark px-1 font-weight-bold">24 subat
              2021</small>
            <input type="date" class="d-none" value=""><i class="bi bi-chevron-right pointer"></i>
          </div>
          <div class="d-flex align-items-center">
            <div class="border-orange rounded-pill px-2 d-inline-block mr-4">
              <input type="text" placeholder="Baslangic Tarihi" class=" bg-transparent border-0 small">
              <span class="border-orange px-1 py-1 border-top-0 border-bottom-0 bg-transparent d-inline-block">-</span>
              <input type="text" class=" bg-transparent border-0 small" placeholder="Bitis Tarihi">
            </div>
            <button class="border-orange rounded-pill bg-transparent small py-1 mr-1">Filtrele</button>
            <button class="border-orange rounded-pill bg-transparent small py-1">Temizle</button>
          </div>
        </div>
        <div class="col-12 bg-light datatable-wrapper hide-scrollbar">
          <table id="datatable" class="display">
            <thead>
              <tr>
                <th>Sube ismi</th>
                <th>Z Raporu</th>
                <th>Nakit</th>
                <th>Kredi Karti</th>
                <th>Yemek Karti</th>
                <th>Dovis</th>
                <th>Mobile Odeme</th>
                <th>Masraf</th>
                <th>Fark</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </main>
</template>
<script>
export default {
  name: 'DatatableMain'
}
</script>
