<template>
<footer class="fixed-bottom bg-light row">
      <div class="col-md-10 ml-sm-auto col-lg-10 pl-0 px-2  py-1">
        <small><span class="font-weight-bold">Copyright <span class="text-muted">@</span> 2020 </span><span
            class="text-primary">Limonist</span></small>
      </div>
</footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>
