<template>
<nav class="col-md-2 bg-light sidebar d-flex flex-column justify-content-between pr-0 pt-3 pb-4 mt-5">
      <div class="text-center">
        <h3 class="text-orange font-weight-bolder">Logo</h3>
        <small class="d-block pointer" id="dashboard_link" v-on:click="handlelink('/dashboard')">Anasayfa</small>
        <small class="pointer" id="datatable_link" v-on:click="handlelink('/datatable')"> Datatable</small>
      </div>
      <div class="text-center d-flex flex-column px-2 text-left-child">
        <button class="btn rounded-pill text-orange bg-gray btn-sm mb-2" id="profile">Account</button>
        <button class="btn rounded-pill text-orange bg-gray btn-sm" id="removeMe">Remove Me</button>
        <small class="text-primary d-block pointer mt-2 pl-2" id="logout">Cikis</small>
      </div>
    </nav>
</template>

<script>
export default {
  name: 'Sidebar',
  methods: {
    handlelink (to) {
      this.$router.push(to)
    }
  }
}
</script>
